In [1]:
import json
import pandas as pd
import numpy as np

# Data loading

In [2]:
file_path = "review_data.json"
review_data = []

with open(file_path, 'r', encoding="utf-8") as file:
    for line in file:
        review_data.append(json.loads(line.strip()))

review_df = pd.DataFrame(review_data)

In [3]:
review_df.info()
print(review_df.iloc[0])

'\nreview_df.info()\nprint(review_df.iloc[0])\n'

In [4]:
file_path = "meta_data.json"
meta_data = []

with open(file_path, 'r', encoding="utf-8") as file:
    for line in file:
        meta_data.append(json.loads(line.strip()))

meta_df = pd.DataFrame(meta_data)

In [5]:
meta_df.info()
print(meta_df.iloc[15])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210967 entries, 0 to 1210966
Data columns (total 18 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   asin             1210967 non-null  object
 1   title            1210967 non-null  object
 2   feature          1210967 non-null  object
 3   description      1210967 non-null  object
 4   price            1210967 non-null  object
 5   imageURL         1210967 non-null  object
 6   imageURLHighRes  1210967 non-null  object
 7   also_buy         1210967 non-null  object
 8   also_view        1210967 non-null  object
 9   rank             1210967 non-null  object
 10  brand            1210967 non-null  object
 11  category         1210967 non-null  object
 12  main_cat         1210967 non-null  object
 13  tech1            1210967 non-null  object
 14  tech2            1210967 non-null  object
 15  similar_item     1210967 non-null  object
 16  date             1210967 non-null  object
 17  fit              1210967 non-null  object
dtypes: object(18)
memory usage: 166.3+ MB
asin                                                      0439542804
title                                             LEGO Island 2 - PC
feature            [The action adventure continues sequel to the ...
description        [There is so much to do on LEGO Island: buildi...
price                                                        $275.01
imageURL           [https://images-na.ssl-images-amazon.com/image...
imageURLHighRes    [https://images-na.ssl-images-amazon.com/image...
also_buy                                                          []
also_view          [B00005V8TB, B008EEYX1Q, B00008KTQ6, B00005AKU...
rank               [>#930,608 in Toys &amp; Games (See Top 100 in...
brand                                                           LEGO
category                                    [Video Games, PC, Games]
main_cat                                            Toys &amp; Games
tech1
tech2
similar_item
date
fit
Name: 15, dtype: object

In [2]:
file_path = "transaction_data.json"
transaction_data = []

with open(file_path, 'r', encoding="utf-8") as file:
    for line in file:
        transaction_data.append(json.loads(line.strip()))

transaction_df = pd.DataFrame(transaction_data)

In [7]:
transaction_df.info()
print(transaction_df.iloc[0])

'\ntransaction_df.info()\nprint(transaction_df.iloc[0])\n'

In [3]:
file_path = "user_data.json"
user_data = []

with open(file_path, 'r', encoding="utf-8") as file:
    for line in file:
        user_data.append(json.loads(line.strip()))

user_df = pd.DataFrame(user_data)

In [9]:
user_df.info()
print(user_df.iloc[0])

'\nuser_df.info()\nprint(user_df.iloc[0])\n'

# Analysis & Normalization

# Normalization for meta_df

In [10]:
meta_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210967 entries, 0 to 1210966
Data columns (total 18 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   asin             1210967 non-null  object
 1   title            1210967 non-null  object
 2   feature          1210967 non-null  object
 3   description      1210967 non-null  object
 4   price            1210967 non-null  object
 5   imageURL         1210967 non-null  object
 6   imageURLHighRes  1210967 non-null  object
 7   also_buy         1210967 non-null  object
 8   also_view        1210967 non-null  object
 9   rank             1210967 non-null  object
 10  brand            1210967 non-null  object
 11  category         1210967 non-null  object
 12  main_cat         1210967 non-null  object
 13  tech1            1210967 non-null  object
 14  tech2            1210967 non-null  object
 15  similar_item     1210967 non-null  object
 16  date             1210967 non-null  object
 17  fit              1210967 non-null  object
dtypes: object(18)
memory usage: 166.3+ MB

In [11]:
meta_df[meta_df.title == meta_df.title[121]]

,asin,title,feature,description,price,imageURL,imageURLHighRes,also_buy,also_view,rank,brand,category,main_cat,tech1,tech2,similar_item,date,fit
121,7900085653,The Elder Scrolls III: Morrowind,[],[Fullfill your destiny! Snatched from prison b...,$56.75,[],[],[B005FDUSTA],"[B00005OWBL, B00065W7CS, B005FDUSTA, B00008XKZ...","[>#54,769 in Video Games (See Top 100 in Video...","by\n \n JinBan Electronic Press Co., Ltd","[Video Games, Retro Gaming & Microconsoles, Xb...",Video Games,,,,,
6947,B00005OWBL,The Elder Scrolls III: Morrowind,"[Choose to be a mighty hero on a great quest, ...","[Enter the world of Morrowind, a rich province...",$126.43,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,"[B000067DPM, B005FDUSTA, B0006ZJPSC, B000BI3QK...","[B00008XKZM, B00065W7CS, B005FDUSTA, B01N6WXIY...","[>#4,973 in Video Games (See Top 100 in Video ...",by\n \n Bethesda,"[Video Games, Retro Gaming & Microconsoles, Xb...",Video Games,,,,,
13372,B00065W7CS,The Elder Scrolls III: Morrowind,"[1 Player, RPG, Explore another world and go a...",[Winner of more than 50 Awards. Including RPG ...,$205.78,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,"[B005FDUSTA, B000067DPM, B000TG72PG, B00CJ7IUG...","[B00008XKZM, B00005OWBL, B005FDUSTA, B000TG72P...","[>#11,804 in Video Games (See Top 100 in Video...",by\n \n Bethesda,"[Video Games, Retro Gaming & Microconsoles, Xb...",Video Games,,,,,
20117,B000J362E6,The Elder Scrolls III: Morrowind,[],[Platform:&nbsp;&nbsp;WINDOWS 98/ME/2000/XP&nb...,$28.60,[],[],[B000070MQM],"[B0000CNUUP, B00005RD71, B000J39B1C, B00008XKZ...",[],Bethesda Softworks,"[Video Games, PC, Games]",Software,,,,</div>,

In [12]:
len(meta_df)

1210967

In [13]:
# Number of empty set ("[]") for each columns
for column in meta_df:
    print(f"{column} : {(meta_df[column].apply(len) == 0).sum()}")

asin : 0
title : 81
feature : 357009
description : 184278
price : 0
imageURL : 647167
imageURLHighRes : 647167
also_buy : 833122
also_view : 734698
rank : 25553
brand : 160386
category : 70277
main_cat : 3469
tech1 : 1192380
tech2 : 1210703
similar_item : 1188616
date : 1081524
fit : 1169918

In [14]:
# Percentage of empty set for each columns
for columns in meta_df:
    print (f"{columns} : {(meta_df[columns].apply(len) == 0).sum()/len(meta_df)}")

asin : 0.0
title : 6.68886930857736e-05
feature : 0.2948131534550487
description : 0.15217425412913813
price : 0.0
imageURL : 0.53442166466964
imageURLHighRes : 0.53442166466964
also_buy : 0.687980762481554
also_view : 0.6067035683053296
rank : 0.02110131820272559
brand : 0.13244456702783808
category : 0.058033786222085326
main_cat : 0.002864652794006773
tech1 : 0.984651109402651
tech2 : 0.9997819924077205
similar_item : 0.9815428496399985
date : 0.8931077395172619
fit : 0.9661022967595319

In [15]:
all_urls = [url for sublist in meta_df['imageURL'] for url in sublist]
unique_urls = set(all_urls)
len(unique_urls)

1484086

In [ ]:
# Find out whether exist duplicate value for imageURL
meta_df[meta_df['imageURL'].apply(len) > 1].index.tolist()

In [17]:
'''
# Create a boolean mask where True indicates the lengths are not equal
mask = meta_df.apply(lambda x: len(x['imageURL']) != len(x['imageURLHighRes']), axis=1)

mismatch_count = mask.sum()

if mismatch_count == 0:
    print("Every imageURL has exactly one corresponding imageURLHighRes.")
else:
    print(f"There are {mismatch_count} rows where imageURL does not have exactly one corresponding imageURLHighRes.")
'''

'\n# Create a boolean mask where True indicates the lengths are not equal\nmask = meta_df.apply(lambda x: len(x[\'imageURL\']) != len(x[\'imageURLHighRes\']), axis=1)\n\nmismatch_count = mask.sum()\n\nif mismatch_count == 0:\n    print("Every imageURL has exactly one corresponding imageURLHighRes.")\nelse:\n    print(f"There are {mismatch_count} rows where imageURL does not have exactly one corresponding imageURLHighRes.")\n'

In [ ]:
# Example of rows that contain same iamgeURL 
mask = meta_df.imageURL.apply(lambda x: x[0] if len(x) > 0 else None) == (meta_df.imageURL[241][0] if len(meta_df.imageURL[241]) > 0 else None)
meta_df[mask]

In [19]:
'''
target_index = 118

mask = (meta_df['feature'].apply(lambda x: set(x) == set(meta_df.feature[118]))) & (meta_df.index != target_index)
matching_rows = meta_df[mask]

if not matching_rows.empty:
    print("Found matching features in the dataframe at index(es):", matching_rows.index.tolist())
else:
    print("No matching features found in the dataframe.")
'''

'\ntarget_index = 118\n\nmask = (meta_df[\'feature\'].apply(lambda x: set(x) == set(meta_df.feature[118]))) & (meta_df.index != target_index)\nmatching_rows = meta_df[mask]\n\nif not matching_rows.empty:\n    print("Found matching features in the dataframe at index(es):", matching_rows.index.tolist())\nelse:\n    print("No matching features found in the dataframe.")\n'

## Normalization for imageURL and imageURLHighRes columns

In [20]:
# Exploding both columns while keeping the corresponding relationships
exploded_meta_df = pd.DataFrame({
    'asin': meta_df['asin'].repeat(meta_df['imageURL'].str.len()),
    'imageURL': [url for sublist in meta_df['imageURL'] for url in sublist],
    'imageURLHighRes': [url for sublist in meta_df['imageURLHighRes'] for url in sublist]
}).dropna()

# Create the image_url table
image_url_df = exploded_meta_df[['imageURL', 'imageURLHighRes']].drop_duplicates().reset_index(drop=True)
image_url_df['image_url_id'] = range(1, len(image_url_df) + 1)

image_url_df = image_url_df[['image_url_id', 'imageURL', 'imageURLHighRes']]

# Create the bridge table meta_image
meta_image = pd.merge(exploded_meta_df, image_url_df, on=['imageURL', 'imageURLHighRes'], how='inner')[['asin', 'image_url_id']]

# image_url_df.to_csv('image_url.csv', index=False)
# meta_image.to_csv('meta_image.csv', index=False)

In [21]:
image_url_df

,image_url_id,imageURL,imageURLHighRes
0,1,https://images-na.ssl-images-amazon.com/images...,https://images-na.ssl-images-amazon.com/images...
1,2,https://images-na.ssl-images-amazon.com/images...,https://images-na.ssl-images-amazon.com/images...
2,3,https://images-na.ssl-images-amazon.com/images...,https://images-na.ssl-images-amazon.com/images...
3,4,https://images-na.ssl-images-amazon.com/images...,https://images-na.ssl-images-amazon.com/images...
4,5,https://images-na.ssl-images-amazon.com/images...,https://images-na.ssl-images-amazon.com/images...
...,...,...,...
1484081,1484082,https://images-na.ssl-images-amazon.com/images...,https://images-na.ssl-images-amazon.com/images...
1484082,1484083,https://images-na.ssl-images-amazon.com/images...,https://images-na.ssl-images-amazon.com/images...
1484083,1484084,https://images-na.ssl-images-amazon.com/images...,https://images-na.ssl-images-amazon.com/images...
1484084,1484085,https://images-na.ssl-images-amazon.com/images...,https://images-na.ssl-images-amazon.com/images...
1484085,1484086,https://images-na.ssl-images-amazon.com/images...,https://images-na.ssl-images-amazon.com/images...

In [22]:
meta_image

               asin  image_url_id
0        0042000742             1
1        0078764343             2
2        0324411812             3
3        0324411812             3
4        0439335310             4
...             ...           ...
1948663  B01HJ3E0PQ       1484082
1948664  B01HJ3E0PQ       1484083
1948665  B01HJCCLOY       1484084
1948666  B01HJF79XO       1484085
1948667  B01HJF79XO       1484086

[1948668 rows x 2 columns]

In [23]:
# Two same link for third index row
meta_df.imageURLHighRes[3]

['https://images-na.ssl-images-amazon.com/images/I/51oaA-KAaiL.jpg',
 'https://images-na.ssl-images-amazon.com/images/I/51oaA-KAaiL.jpg']

## Check the normalized data

In [24]:
image_url_df.iloc[1484083]['imageURL']

'https://images-na.ssl-images-amazon.com/images/I/51mM1Xm7KkL._SX38_SY50_CR,0,0,38,50_.jpg'

In [25]:
meta_df[meta_df['asin'] == 'B01HJCCLOY']['imageURL']

1210965    [https://images-na.ssl-images-amazon.com/image...
Name: imageURL, dtype: object

In [26]:
meta_df.iloc[1210965]['imageURL'][0]

'https://images-na.ssl-images-amazon.com/images/I/51mM1Xm7KkL._SX38_SY50_CR,0,0,38,50_.jpg'

In [27]:
image_url_df.iloc[1484083]['imageURL'] == meta_df.iloc[1210965]['imageURL'][0]

True

## Normalization for "also_buy"

In [28]:
meta_df.also_buy

0                                                         []
1                                               [B00PADROYW]
2                                                         []
3                                                         []
4                                                         []
                                 ...
1210962    [B01MXE4EVV, B014HFML6E, B07HGR7P4Z, B000F3T3C...
1210963                                                   []
1210964    [B01M6DA5RJ, B0002F6BFG, B06XRGPHM3, B06XG2N43...
1210965                                         [B004L690XW]
1210966    [B073XHMCB4, B0714J1MPR, B072MZN33K, B01MYFLZR...
Name: also_buy, Length: 1210967, dtype: object

In [29]:
all_buy = [buy for sublist in meta_df['also_buy'] for buy in sublist]
unique_buy = set(all_buy)
len(unique_buy)

1087048

In [30]:
len(meta_df[meta_df['also_buy'].apply(len) > 1].index.tolist())

313055

In [31]:
# Explode the also_buy column
exploded_also_buy_df = meta_df.explode('also_buy', ignore_index=True)

# Filter out rows where also_buy is NaN and reset the index
exploded_also_buy_df = exploded_also_buy_df[exploded_also_buy_df['also_buy'].notna()].reset_index(drop=True)

# Create bridge table
also_buy = exploded_also_buy_df[['asin', 'also_buy']]

# also_buy.to_csv('also_buy.csv', index=False)

In [32]:
also_buy

                asin    also_buy
0         0078764343  B00PADROYW
1         0439339987  B00002S6E5
2         0439339987  B000NQI666
3         0439339987  B000AQJ4AG
4         0439339987  B000FETCF0
...              ...         ...
10721928  B01HJF79XO  B073XHMCB4
10721929  B01HJF79XO  B0714J1MPR
10721930  B01HJF79XO  B072MZN33K
10721931  B01HJF79XO  B01MYFLZR7
10721932  B01HJF79XO  B06XDRSH35

[10721933 rows x 2 columns]

## Normalization for "also_view"

In [33]:
meta_df.also_view

0                                                         []
1          [B0050SY5BM, B072NQJCW5, B000TI836G, B002SRSQ7...
2                                                         []
3                                                         []
4                                               [B000BCZ7U0]
                                 ...
1210962    [B07BF2PQHM, B00012AST0, B0094AH3Q6, B0007P0LP...
1210963                                                   []
1210964                             [B01GWCHP2U, B0009PW3RE]
1210965                                         [B0000C23HX]
1210966    [B071KW44QB, B073XHMCB4, B07KZ4HB41, B01EHI4MO...
Name: also_view, Length: 1210967, dtype: object

In [34]:
all_view = [view for sublist in meta_df['also_view'] for view in sublist]
unique_view = set(all_view)
len(unique_view)

1357984

In [35]:
len(meta_df[meta_df['also_view'].apply(len) > 1].index.tolist())

422785

In [36]:
# Same process as normalization "also buy"
exploded_also_view_df = meta_df.explode('also_view', ignore_index=True)

exploded_also_view_df = exploded_also_view_df[exploded_also_view_df['also_view'].notna()].reset_index(drop=True)

also_view = exploded_also_view_df[['asin', 'also_view']]

# also_view.to_csv('also_view.csv', index=False)

In [37]:
also_view

                asin   also_view
0         0078764343  B0050SY5BM
1         0078764343  B072NQJCW5
2         0078764343  B000TI836G
3         0078764343  B002SRSQ72
4         0078764343  B000TG530M
...              ...         ...
12493783  B01HJF79XO  1421593041
12493784  B01HJF79XO  B07CLP4ZQM
12493785  B01HJF79XO  B01ICR1WL8
12493786  B01HJF79XO  B0746DTJN3
12493787  B01HJF79XO  B07JJ6HQGF

[12493788 rows x 2 columns]

In [38]:
pd.set_option('display.max_columns', None)      
pd.set_option('display.width', None)            
pd.set_option('display.max_colwidth', None)

In [39]:
meta_df['rank'][0]

['>#2,623,937 in Toys &amp; Games (See Top 100 in Toys &amp; Games)',
 '>#39,015 in Video Games >; PC Games']

In [40]:
meta_df['rank'][3]

['>#105,263 in Video Games (See Top 100 in Video Games)',
 '>#56 in Video Games >; Xbox 360 >; Accessories >; Controllers >; Joysticks',
 '>#70,640 in Video Games >; Accessories']

## Normalization for "category"

In [41]:
meta_df['category'][11]

['Video Games', 'PC', 'Games', '</span></span></span>']

In [42]:
# remove '</span></span></span>' that appear in some list
meta_df['category'] = meta_df['category'].apply(lambda x: [item for item in x if item != '</span></span></span>'])

In [43]:
# Extract unique categories
all_categories = meta_df.explode('category')['category']
unique_categories = all_categories.drop_duplicates().dropna().reset_index(drop=True)

In [44]:
Category = pd.DataFrame({
    'CID': range(1, len(unique_categories) + 1),
    'Category': unique_categories
})

In [45]:
# Create Category table
Category = pd.DataFrame({
    'CID': range(1, len(unique_categories) + 1),
    'Category': unique_categories
})

category_to_cid_map = Category.set_index('Category')['CID'].to_dict()

# Create bridge table
bridge_data = []
for index, row in meta_df.iterrows():
    for category in row['category']:
        bridge_data.append({'asin': row['asin'], 'CID': category_to_cid_map[category]})
meta_category = pd.DataFrame(bridge_data)
meta_category[['CID', 'asin']]


# Category.to_csv('Category.csv', index=False)
# meta_category.to_csv('meta_category.csv', index=False)

            CID        asin
0             1  0042000742
1             2  0042000742
2             3  0042000742
3             1  0078764343
4             4  0078764343
...         ...         ...
5756163  167788  B01HJCCLOY
5756164  167815  B01HJCCLOY
5756165  167786  B01HJF79XO
5756166  167823  B01HJF79XO
5756167  167787  B01HJF79XO

[5756168 rows x 2 columns]

In [46]:
Category.head(10)

,CID,Category
0,1,Video Games
1,2,PC
2,3,Games
3,4,Xbox 360
4,5,Retro Gaming & Microconsoles
5,6,Super Nintendo
6,7,Accessories
7,8,Controllers
8,9,Joysticks
9,10,Original PCB used from Xbox 360 Control Pad (to ensure 100% compatibility)

In [47]:
meta_category

               asin     CID
0        0042000742       1
1        0042000742       2
2        0042000742       3
3        0078764343       1
4        0078764343       4
...             ...     ...
5756163  B01HJCCLOY  167788
5756164  B01HJCCLOY  167815
5756165  B01HJF79XO  167786
5756166  B01HJF79XO  167823
5756167  B01HJF79XO  167787

[5756168 rows x 2 columns]

In [48]:
meta_df['brand'][1]

'by\n    \n    EA Games'

In [49]:
meta_df['brand'][10000]

'by\n    \n    Square Enix'

In [50]:
# remove "by\n    \n    " 
meta_df['brand'] = meta_df['brand'].str.replace('by\n    \n    ', '', regex=False)

In [51]:
meta_df['brand'][1]

'EA Games'

In [ ]:
unique_brands = meta_df['brand'].dropna().unique().tolist()
print(unique_brands)

In [ ]:
unique_main_c = meta_df['main_cat'].dropna().unique().tolist()
print(unique_main_c)

In [54]:
len(unique_main_c)

53

In [55]:
# drop columns that has been normalized
columns_to_drop = ["imageURL", "imageURLHighRes", "also_buy", "also_view", "category"]
meta_df = meta_df.drop(columns=columns_to_drop)

In [56]:
# drop columns that contain meaningless content or more than 95 percentage of data is empty.
meaningless_columns = ["tech1", "tech2", "similar_item", "date", "fit"]
meta_df = meta_df.drop(columns=meaningless_columns)

In [57]:
meta_df['feature'][13]

['Play challenging math games against Jabba the Hutt, Sebulba, Teemto and Ratts Tyerell.  Use strategy, computation, skill and logic to outsmart your opponents!  Practice and strengthen math skills in addition, subtraction, multiplication and equivalency.',
 'Experience these games in two-player mode.',
 'Explore 4 game arenas and 3 activity areas.',
 'Ability to save games/credits for future playtime.',
 'Tutorials available for each game.']

In [58]:
all_urls = [url for sublist in meta_df['feature'] for url in sublist]
unique_urls = set(all_urls)
len(unique_urls)

1993734

In [59]:
len(all_urls)

4499889

In [60]:
# review_df.info()

In [61]:
# review_df.isnull().any()

In [62]:
# review_df['style'].isnull

In [63]:
# review_df.head()

In [64]:
# user_df.iloc[0]

In [65]:
# transaction_df.iloc[0]

# Connect to mysql dataset

In [66]:
# !pip install pymysql

In [27]:
# modify the configuration for your device connection
import pymysql

cnx = pymysql.connect(
    user='root',
    password='your_password',
    host='127.0.0.1',
)
cursor = cnx.cursor()

In [ ]:
schema_name = "new_schema"
cursor.execute(f"CREATE DATABASE {schema_name}")

In [28]:
cursor.execute("USE amazon_reviews")

0

In [29]:
from sqlalchemy import create_engine

In [30]:
user = 'root'
password = 'your_password'
host = '127.0.0.1'
database = 'amazon_reviews'  
engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}/{database}')

In [72]:
for column in Category.columns:
    max_length = Category[column].astype(str).str.len().max()
    print(f"Maximum length for column '{column}' is: {max_length}")

Maximum length for column 'CID' is: 6
Maximum length for column 'Category' is: 1999

In [ ]:
cursor.execute("""
CREATE TABLE category (
    CID INT PRIMARY KEY,
    Category text
)
""")

In [ ]:
Category.to_sql('category', con=engine, index=False, if_exists='append')

In [ ]:
for column in meta_df.columns:
    max_length = meta_df[column].astype(str).str.len().max()
    print(f"Maximum length for column '{column}' is: {max_length}")

In [ ]:
meta_df['description'] = meta_df['description'].astype(str)

In [ ]:
meta_df['feature'] = meta_df['feature'].apply(','.join)

In [ ]:
meta_df['rank'] = meta_df['rank'].apply(''.join)

In [ ]:
meta_df['price'] = meta_df['price'].str.replace('$', '').astype(float)

In [ ]:
cursor.execute("""
CREATE TABLE meta (
    asin VARCHAR(10) PRIMARY KEY,
    title TEXT,
    feature TEXT,
    description TEXT,
    price DECIMAL(8, 2) NOT NULL,
    `rank` TEXT,
    brand TEXT,
    main_cat TINYTEXT
)
""")

In [ ]:
long_descriptions = meta_df[meta_df['description'].str.len() > 65535]
print("Number of descriptions longer than 65,535 characters:", len(long_descriptions))

In [ ]:
# Truncating the Long Descriptions
meta_df['description'] = meta_df['description'].apply(lambda x: x[:65535] if len(x) > 65535 else x)

In [ ]:
# replace empty set as none
meta_df['description'] = meta_df['description'].apply(lambda x: '' if x == [] else x)

In [ ]:
import html
meta_df['rank'] = meta_df['rank'].apply(html.unescape)
meta_df['rank'] = meta_df['rank'].str.replace('>#', '')
meta_df['rank'] = meta_df['rank'].str.replace('>;', '>')
meta_df['main_cat'] = meta_df['main_cat'].apply(html.unescape)

In [ ]:
meta_df.to_sql('meta', con=engine, index=False, if_exists='append')

In [ ]:
image_url_df = image_url_df.rename(columns={"image_url_id": "IID"})
image_url_df

In [ ]:
image_url_df.info()

In [ ]:
for column in image_url_df.columns:
    max_length = image_url_df[column].astype(str).str.len().max()
    print(f"Maximum length for column '{column}' is: {max_length}")

In [ ]:
cursor.execute("""
CREATE TABLE image_url (
    IID INT PRIMARY KEY,
    imageURL TINYTEXT,
    imageURLHighRes TINYTEXT
)
""")

In [ ]:
image_url_df.to_sql('image_url', con=engine, index=False, if_exists='append')

In [ ]:
image_url_df

In [ ]:
meta_image.info()

In [ ]:
meta_image = meta_image.rename(columns={"image_url_id": "IID"})
meta_image

In [ ]:
# drop duplicate row
meta_image = meta_image.drop_duplicates(subset=['asin', 'IID'])

In [ ]:
meta_image

In [ ]:
for column in meta_image.columns:
    max_length = meta_image[column].astype(str).str.len().max()
    print(f"Maximum length for column '{column}' is: {max_length}")

In [ ]:
cursor.execute("""
CREATE TABLE meta_image (
    asin VARCHAR(10),
    IID INT,
    PRIMARY KEY (asin, IID)
)
""")

In [ ]:
meta_image.to_sql('meta_image', con=engine, index=False, if_exists='append')

In [ ]:
also_buy.info()

In [ ]:
for column in also_buy.columns:
    max_length = also_buy[column].astype(str).str.len().max()
    print(f"Maximum length for column '{column}' is: {max_length}")

In [ ]:
cursor.execute("""
CREATE TABLE also_buy (
    asin VARCHAR(10),
    also_buy VARCHAR(10),
    PRIMARY KEY (asin, also_buy)
)
""")

In [ ]:
also_buy.to_sql('also_buy', con=engine, index=False, if_exists='append')

In [ ]:
also_view.info()

In [ ]:
for column in also_view.columns:
    max_length = also_view[column].astype(str).str.len().max()
    print(f"Maximum length for column '{column}' is: {max_length}")

In [ ]:
cursor.execute("""
CREATE TABLE also_view (
    asin VARCHAR(10),
    also_view VARCHAR(10),
    PRIMARY KEY (asin, also_view)
)
""")

In [73]:
also_view.to_sql('also_view', con=engine, index=False, if_exists='append')

In [74]:
meta_category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5756168 entries, 0 to 5756167
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   asin    object
 1   CID     int64
dtypes: int64(1), object(1)
memory usage: 87.8+ MB

In [75]:
for column in meta_category.columns:
    max_length = meta_category[column].astype(str).str.len().max()
    print(f"Maximum length for column '{column}' is: {max_length}")

Maximum length for column 'asin' is: 10
Maximum length for column 'CID' is: 6

In [76]:
cursor.execute("""
CREATE TABLE meta_category (
    asin VARCHAR(10),
    CID INT,
    PRIMARY KEY (asin, CID)
)
""")

0

In [79]:
# drop duplicate row
meta_category = meta_category.drop_duplicates(subset=['asin', 'CID'])

In [81]:
meta_category.to_sql('meta_category', con=engine, index=False, if_exists='append')

In [82]:
meta_category

               asin     CID
0        0042000742       1
1        0042000742       2
2        0042000742       3
3        0078764343       1
4        0078764343       4
...             ...     ...
5756163  B01HJCCLOY  167788
5756164  B01HJCCLOY  167815
5756165  B01HJF79XO  167786
5756166  B01HJF79XO  167823
5756167  B01HJF79XO  167787

[5750852 rows x 2 columns]

In [3]:
review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6460965 entries, 0 to 6460964
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   overall         float64
 1   vote            float64
 2   verified        bool
 3   reviewTime      object
 4   unixReviewTime  int64
 5   reviewerID      object
 6   reviewerName    object
 7   asin            object
 8   style           object
 9   reviewText      object
 10  summary         object
dtypes: bool(1), float64(2), int64(1), object(7)
memory usage: 499.1+ MB

In [13]:
# In case of multiple 'reviewName' entries for a single 'reviewerID', pick the first one.
ID_name_df = review_df.groupby('reviewerID').agg({'reviewerName': 'first'}).reset_index()
ID_name_df.columns = ['reviewerID', 'reviewerName']
ID_name = ID_name_df.copy()

print(ID_name)

                  reviewerID              reviewerName
0       A0001528BGUBOEVR6T5U                  igozingo
1       A0009988MRFQ3TROTQPI                 Bob Macky
2       A0024836TBQJ1WBE4VDY          John W. Franklin
3       A0029274J35Q1MYNKUWO                        JM
4       A00311542N70JGNHUZPI  Eliana Joy Solon Presley
...                      ...                       ...
641080         AZZZJJPHNUQ1T            WisdomWolf7779
641081         AZZZMSZI9LKE6                      gail
641082         AZZZOVIBXHGDR           Logan R. Freijo
641083         AZZZPDCSVJ9X2                    Lee W.
641084         AZZZVAXZQB7JJ            HSIAO SHIH JEN

[641085 rows x 2 columns]

In [16]:
ID_name

                  reviewerID              reviewerName
0       A0001528BGUBOEVR6T5U                  igozingo
1       A0009988MRFQ3TROTQPI                 Bob Macky
2       A0024836TBQJ1WBE4VDY          John W. Franklin
3       A0029274J35Q1MYNKUWO                        JM
4       A00311542N70JGNHUZPI  Eliana Joy Solon Presley
...                      ...                       ...
641080         AZZZJJPHNUQ1T            WisdomWolf7779
641081         AZZZMSZI9LKE6                      gail
641082         AZZZOVIBXHGDR           Logan R. Freijo
641083         AZZZPDCSVJ9X2                    Lee W.
641084         AZZZVAXZQB7JJ            HSIAO SHIH JEN

[641085 rows x 2 columns]

In [17]:
for column in ID_name.columns:
    max_length = ID_name[column].astype(str).str.len().max()
    print(f"Maximum length for column '{column}' is: {max_length}")

Maximum length for column 'reviewerID' is: 20
Maximum length for column 'reviewerName' is: 40

In [24]:
cursor.execute("""
CREATE TABLE id_name (
    reviewerID VARCHAR(20) PRIMARY KEY,
    reviewerName VARCHAR(40)
)
""")

0

In [25]:
ID_name.to_sql('id_name', con=engine, index=False, if_exists='append')

In [27]:
review_df = review_df.drop(columns=['reviewerName'])

In [30]:
review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6460965 entries, 0 to 6460964
Data columns (total 10 columns):
 #   Column          Dtype
---  ------          -----
 0   overall         float64
 1   vote            float64
 2   verified        bool
 3   reviewTime      object
 4   unixReviewTime  int64
 5   reviewerID      object
 6   asin            object
 7   style           object
 8   reviewText      object
 9   summary         object
dtypes: bool(1), float64(2), int64(1), object(6)
memory usage: 449.8+ MB

In [89]:
duplicates = review_df[review_df.duplicated(subset=['reviewerID', 'asin'], keep=False)]

if not duplicates.empty:
    print("Duplicate rows based on 'reviewerID' and 'asin' combination:")
    print(duplicates)
else:
    print("No duplicate rows found based on 'reviewerID' and 'asin' combination.")

Duplicate rows based on 'reviewerID' and 'asin' combination:
         overall  vote  verified  reviewTime  unixReviewTime      reviewerID  \
968          5.0   1.0     False  2007-05-03      1178150400  A1CDNTB7377YH2
969          5.0   1.0     False  2007-05-03      1178150400  A1CDNTB7377YH2
2407         5.0   3.0     False  2012-01-04      1325635200   AROWZGGO4VTJU
2408         1.0   1.0     False  2012-01-04      1325635200   AROWZGGO4VTJU
2409         1.0   1.0     False  2012-01-04      1325635200   AROWZGGO4VTJU
...          ...   ...       ...         ...             ...             ...
6460767      4.0   1.0     False  2017-05-24      1495584000   AV6QDP8Q0ONK4
6460771      4.0   1.0     False  2016-07-25      1469404800   AV6QDP8Q0ONK4
6460780      3.0   1.0      True  2018-01-13      1515801600  A2TA5Q3W87GP78
6460908      5.0   1.0     False  2017-01-25      1485302400  A1EIIGQBKKVDT0
6460909      5.0   3.0     False  2017-01-25      1485302400  A1EIIGQBKKVDT0

               asin         style  \
968      B00000DMAQ
969      B00000DMAQ
2407     B00000INR2
2408     B00000INR2
2409     B00000INR2
...             ...           ...
6460767  B01HD2UCA0   Prime Video
6460771  B01HD2UCA0           DVD
6460780  B01HDHA9JO   Prime Video
6460908  B01HGRJUGE           DVD
6460909  B01HGRJUGE       Blu-ray

                                                reviewText  \
968      I really love this game that is quite similar ...
969      I really love this game that is quite similar ...
2407     I have used third party products for everythin...
2408     I have used many third party expansion packs a...
2409     I have used a lot of third party expansion pac...
...                                                    ...
6460767  If you read anything at all about the film, it...
6460771  If you read anything at all about the film, it...
6460780  this movie was like a afterschool special. No ...
6460908  PLOT...\nThe ReZort is a safari park that offe...
6460909  PLOT...\nThe ReZort is a safari park that offe...

                                       summary
968                         What a great game!
969                         A Whole Lot of Fun
2407           Stick With First Party Hardware
2408      Beware Of Third Party Expansion Paks
2409     Buy Only Nintendo Brand Expansion Pak
...                                        ...
6460767            THE BEST ONES GO OFF SCRIPT
6460771            THE BEST ONES GO OFF SCRIPT
6460780                            Three Stars
6460908                "..COOL ZOMBIE MOVIE.."
6460909               "..GREAT ZOMBIE MOVIE.."

[54775 rows x 10 columns]

In [90]:
review_df.iloc[968]

overall                                                         5.0
vote                                                            1.0
verified                                                      False
reviewTime                                               2007-05-03
unixReviewTime                                           1178150400
reviewerID                                           A1CDNTB7377YH2
asin                                                     B00000DMAQ
style
reviewText        I really love this game that is quite similar ...
summary                                          What a great game!
Name: 968, dtype: object

In [91]:
review_df.iloc[969]

overall                                                         5.0
vote                                                            1.0
verified                                                      False
reviewTime                                               2007-05-03
unixReviewTime                                           1178150400
reviewerID                                           A1CDNTB7377YH2
asin                                                     B00000DMAQ
style
reviewText        I really love this game that is quite similar ...
summary                                          A Whole Lot of Fun
Name: 969, dtype: object

In [86]:
review_df.iloc[6847]

overall                                                         4.0
vote                                                            1.0
verified                                                      False
reviewTime                                               2014-03-03
unixReviewTime                                           1393804800
reviewerID                                           A2R164STV36F6C
asin                                                     B00002DHEV
style
reviewText        After years of coveting my friends Super Ninte...
summary                   Nintendo Explores New Territory in 64-bit
Name: 6847, dtype: object

In [88]:
review_df.iloc[6848]

overall                                                         4.0
vote                                                            2.0
verified                                                      False
reviewTime                                               2014-03-03
unixReviewTime                                           1393804800
reviewerID                                           A2R164STV36F6C
asin                                                     B00002DHEV
style
reviewText        After years of coveting my friends Super Ninte...
summary                   Nintendo Explores New Territory in 64-bit
Name: 6848, dtype: object

In [ ]:
# Since there is no reasonable primary combination that can identify each case, we add a new variable call "RID", set as primary key of table.

In [95]:
review_df['RID'] = range(1, len(review_df) + 1)

In [33]:
for column in review_df.columns:
    max_length = review_df[column].astype(str).str.len().max()
    print(f"Maximum length for column '{column}' is: {max_length}")

Maximum length for column 'overall' is: 3
Maximum length for column 'vote' is: 5
Maximum length for column 'verified' is: 5
Maximum length for column 'reviewTime' is: 11
Maximum length for column 'unixReviewTime' is: 10
Maximum length for column 'reviewerID' is: 20
Maximum length for column 'asin' is: 10
Maximum length for column 'style' is: 225
Maximum length for column 'reviewText' is: 33759
Maximum length for column 'summary' is: 315

In [58]:
review_df['style']

0                             None
1                             None
2                             None
3                             None
4                             None
                    ...
6460960        {'Format:': ' DVD'}
6460961    {'Format:': ' Blu-ray'}
6460962    {'Format:': ' Blu-ray'}
6460963    {'Format:': ' Blu-ray'}
6460964    {'Format:': ' Blu-ray'}
Name: style, Length: 6460965, dtype: object

In [69]:
def convert_format(val):
    if val is None:
        return ''
    elif isinstance(val, dict) and 'Format:' in val:
        return val['Format:']
    else:
        return str(val)

review_df['style'] = review_df['style'].apply(convert_format)

In [70]:
review_df['style']

0
1
2
3
4
             ...
6460960         DVD
6460961     Blu-ray
6460962     Blu-ray
6460963     Blu-ray
6460964     Blu-ray
Name: style, Length: 6460965, dtype: object

In [71]:
max_length = review_df['style'].astype(str).str.len().max()
print(f"Maximum length for column style is: {max_length}")

Maximum length for column style is: 225

In [52]:
# Convert 'reviewTime' to format YYYY-MM-DD
review_df['reviewTime'] = pd.to_datetime(review_df['reviewTime'], format='%m %d, %Y').dt.strftime('%Y-%m-%d')

In [101]:
cursor.execute("""
CREATE TABLE review (
    RID INT PRIMARY KEY,
    overall DECIMAL(3,1),
    vote DECIMAL(5,1),
    verified VARCHAR(5),
    reviewTime DATE,
    unixReviewTime VARCHAR(10),
    reviewerID VARCHAR(20),
    asin VARCHAR(10),
    style TINYTEXT,
    reviewText TEXT,
    summary TEXT
)
""")

0

In [102]:
review_df.to_sql('review', con=engine, index=False, if_exists='append')

In [6]:
user_df

,reviewerName,reviewerID,registerDate,reviewCount,totalVotes,fans,phoneNumber,homeAddress
0,,A1Z73C9DGHUZS0,1308009600000,4,9.0,74,(496)763-9036x307,"1958 Frye Lock, Coreyville, IA 22341"
1,,A2QKBGCN6CIOS,1456185600000,6,6.0,63,554.359.1868x47538,"20139 Hernandez Mills Apt. 930, Taylorland, TX..."
2,,A1PWLRX3NKWT1E,1406246400000,7,7.0,67,904.315.1008,"29288 Wright Ferry, North Patricia, DE 82981"
3,b,A2ONWJKMEQSNVC,1501372800000,4,4.0,53,001-443-962-7146x7119,"3040 Huber Hollow Apt. 388, Kingtown, MO 13400"
4,BlasianPapi,A244LYHAD22JR4,1416528000000,13,14.0,86,473.287.1637x86083,"PSC 3060, Box 1561, APO AA 64755"
...,...,...,...,...,...,...,...,...
658395,~~LA,AHYQZM2NLW3Q1,1375833600000,11,37.0,114,001-633-963-8332x03925,"12312 David Key, New Wesley, ID 20006"
658396,~~Nicky~~,A2NRVM8QYUMIT2,1436486400000,7,57.0,126,(758)644-8826,"18774 Leon Tunnel, South Gregory, UT 47188"
658397,~~Trish~~,A364ZQLZSJ3RUH,1384732800000,7,7.0,67,895-354-5316,"56442 Rice Parkway, Lake Kevin, TN 58916"
658398,~~~,A19BRO8JAP3QHC,1434326400000,6,7.0,67,(590)258-7165x535,"352 Brown Land, East Dana, SC 39573"
658399,~~~ Vikky ~~~,A1TTWYTFE9BEIF,1354406400000,5,5.0,58,564-599-8341,"Unit 2368 Box 3291, DPO AP 29588"

In [8]:
user_df = user_df.drop(columns=['reviewerName'])

In [13]:
user_df

,reviewerID,registerDate,reviewCount,totalVotes,fans,phoneNumber,homeAddress
0,A1Z73C9DGHUZS0,1308009600000,4,9.0,74,(496)763-9036x307,"1958 Frye Lock, Coreyville, IA 22341"
1,A2QKBGCN6CIOS,1456185600000,6,6.0,63,554.359.1868x47538,"20139 Hernandez Mills Apt. 930, Taylorland, TX..."
2,A1PWLRX3NKWT1E,1406246400000,7,7.0,67,904.315.1008,"29288 Wright Ferry, North Patricia, DE 82981"
3,A2ONWJKMEQSNVC,1501372800000,4,4.0,53,001-443-962-7146x7119,"3040 Huber Hollow Apt. 388, Kingtown, MO 13400"
4,A244LYHAD22JR4,1416528000000,13,14.0,86,473.287.1637x86083,"PSC 3060, Box 1561, APO AA 64755"
...,...,...,...,...,...,...,...
658395,AHYQZM2NLW3Q1,1375833600000,11,37.0,114,001-633-963-8332x03925,"12312 David Key, New Wesley, ID 20006"
658396,A2NRVM8QYUMIT2,1436486400000,7,57.0,126,(758)644-8826,"18774 Leon Tunnel, South Gregory, UT 47188"
658397,A364ZQLZSJ3RUH,1384732800000,7,7.0,67,895-354-5316,"56442 Rice Parkway, Lake Kevin, TN 58916"
658398,A19BRO8JAP3QHC,1434326400000,6,7.0,67,(590)258-7165x535,"352 Brown Land, East Dana, SC 39573"
658399,A1TTWYTFE9BEIF,1354406400000,5,5.0,58,564-599-8341,"Unit 2368 Box 3291, DPO AP 29588"

In [14]:
unique_reviewerIDs = user_df['reviewerID'].nunique()
total_rows = len(user_df)

if unique_reviewerIDs == total_rows:
    print("There are no repeated values in the 'reviewerID' column.")
else:
    print(f"There are {total_rows - unique_reviewerIDs} repeated values in the 'reviewerID' column.")

There are 17315 repeated values in the 'reviewerID' column.

In [20]:
# remove the repeated rows based on the "reviewerID" column
user_df = user_df.drop_duplicates(subset='reviewerID', keep='first')

In [22]:
user_df

,reviewerID,registerDate,reviewCount,totalVotes,fans,phoneNumber,homeAddress
0,A1Z73C9DGHUZS0,1308009600000,4,9.0,74,(496)763-9036x307,"1958 Frye Lock, Coreyville, IA 22341"
1,A2QKBGCN6CIOS,1456185600000,6,6.0,63,554.359.1868x47538,"20139 Hernandez Mills Apt. 930, Taylorland, TX..."
2,A1PWLRX3NKWT1E,1406246400000,7,7.0,67,904.315.1008,"29288 Wright Ferry, North Patricia, DE 82981"
3,A2ONWJKMEQSNVC,1501372800000,4,4.0,53,001-443-962-7146x7119,"3040 Huber Hollow Apt. 388, Kingtown, MO 13400"
4,A244LYHAD22JR4,1416528000000,13,14.0,86,473.287.1637x86083,"PSC 3060, Box 1561, APO AA 64755"
...,...,...,...,...,...,...,...
658394,A3DVHS7LCPBWV4,1328832000000,13,16.0,89,672.566.4014,"3632 Omar Course, Kathrynshire, IA 24394"
658396,A2NRVM8QYUMIT2,1436486400000,7,57.0,126,(758)644-8826,"18774 Leon Tunnel, South Gregory, UT 47188"
658397,A364ZQLZSJ3RUH,1384732800000,7,7.0,67,895-354-5316,"56442 Rice Parkway, Lake Kevin, TN 58916"
658398,A19BRO8JAP3QHC,1434326400000,6,7.0,67,(590)258-7165x535,"352 Brown Land, East Dana, SC 39573"
658399,A1TTWYTFE9BEIF,1354406400000,5,5.0,58,564-599-8341,"Unit 2368 Box 3291, DPO AP 29588"

In [23]:
for column in user_df.columns:
    max_length = user_df[column].astype(str).str.len().max()
    print(f"Maximum length for column '{column}' is: {max_length}")

Maximum length for column 'reviewerID' is: 20
Maximum length for column 'registerDate' is: 13
Maximum length for column 'reviewCount' is: 4
Maximum length for column 'totalVotes' is: 7
Maximum length for column 'fans' is: 3
Maximum length for column 'phoneNumber' is: 22
Maximum length for column 'homeAddress' is: 71

In [31]:
cursor.execute("""
CREATE TABLE user (
    reviewerID VARCHAR(20) PRIMARY KEY,
    registerDate VARCHAR(13),
    reviewCount VARCHAR(4),
    totalVotes DECIMAL(7,1),
    fans VARCHAR(3),
    phoneNumber VARCHAR(22),
    homeAddress VARCHAR(255)
)
""")

0

In [32]:
user_df.to_sql('user', con=engine, index=False, if_exists='append')

In [33]:
transaction_df

,transactionID,transactionTime,reviewerID,copy,totalPrice,paymentMethod
0,65394be6e6e35c3b983f5029,1444913770000,A1HP7NVNPFMA4N,6,47.70,Amex
1,65394be6e6e35c3b983f502a,1437507288000,A1JGAP0185YJI6,4,31.80,Visa
2,65394be6e6e35c3b983f502b,1424199675000,A1YJWEXHQBWK2B,8,63.60,PayPal
3,65394be6e6e35c3b983f502c,1424359921000,A2204E1TH211HT,6,47.70,Amex
4,65394be6e6e35c3b983f502d,1418957169000,A2RF5B5H74JLPE,9,71.55,MasterCard
...,...,...,...,...,...,...
6453125,65394bf4e6e35c3b98a1c7ae,1483026918000,A2MFARH7H7FSY1,1,14.98,MasterCard
6453126,65394bf4e6e35c3b98a1c7af,1480522392000,AY532XZ00UTKN,9,134.82,Discover
6453127,65394bf4e6e35c3b98a1c7b0,1480689296000,A2VWQXWF1GO2ZE,10,149.80,PayPal
6453128,65394bf4e6e35c3b98a1c7b1,1478364080000,A22AB77OD50U4M,3,44.94,Bitcoin
6453129,65394bf4e6e35c3b98a1c7b2,1471197449000,ATGEMV4Z0GPOH,5,74.90,Discover

In [34]:
transaction_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6453130 entries, 0 to 6453129
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   transactionID    object
 1   transactionTime  int64
 2   reviewerID       object
 3   copy             int64
 4   totalPrice       float64
 5   paymentMethod    object
dtypes: float64(1), int64(2), object(3)
memory usage: 295.4+ MB

In [35]:
for column in transaction_df.columns:
    max_length = transaction_df[column].astype(str).str.len().max()
    print(f"Maximum length for column '{column}' is: {max_length}")

Maximum length for column 'transactionID' is: 24
Maximum length for column 'transactionTime' is: 13
Maximum length for column 'reviewerID' is: 20
Maximum length for column 'copy' is: 2
Maximum length for column 'totalPrice' is: 7
Maximum length for column 'paymentMethod' is: 10

In [36]:
cursor.execute("""
CREATE TABLE transaction (
    transactionID VARCHAR(24) PRIMARY KEY,
    transactionTime VARCHAR(13),
    reviewerID VARCHAR(20),
    copy VARCHAR(2),
    totalPrice DECIMAL(7,2),
    paymentMethod VARCHAR(10)
)
""")

0

In [37]:
transaction_df.to_sql('transaction', con=engine, index=False, if_exists='append')

In [100]:
# cursor.execute("DROP TABLE review")

0

In [38]:
cnx.close()